.featured_image{
    width: 574px;
    height: 390px;
    border-radius: 25px;
    max-width: 500px;
    max-height: 400px;
    min-width: 500px;
    min-height: 400px;
}
.outerContainer{
    display: flex;
}
.img-div{
    margin-right: 37px;
}
.heiglights{
left: 155px;
position: relative;
top: -27px;
}
.navTab{
    position: relative;
    justify-content: center;
    left: 447px;
}
.navOuter{
    display: flex;
}
.navButton{
    margin-right: 10px;
}
.info-div{
    position: relative;
    left: 49px;
}