.collections{
    margin-top: 33px;
    text-align: left;
}

.imageCollection{
    width: 200px;
    margin: 20px;
    position: relative;
    z-index: -1;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 25px;
}
.rowCollection{
    display: inline-flex;
    position: relative;
}
.text-block{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 88%;
   left: 21px;
   bottom: 20px;
   border-radius: 25px;
}
.text-data{
    color: red;
}

.filterDiv{
    padding: 10px;
    justify-content: center;
}
.outerFilter{
    display: flex;
}
